<!DOCTYPE html>
<html>
  <head>
    <title>StyleBags App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=<%=fontFamily1Plus%>:400,400italic,700|<%=fontFamily2Plus%>:400,400italic,700|<%=fontFamily3Plus%>:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript" async defer></script>
    <script src="/javascripts/main.js" type="text/javascript" charset="utf-8" async defer></script>
  </head>
  <body>

    <header class="container-fluid">
      <h1>StyleBags</h1>
      <ul>
        <li>Sign Up</li>
        <li>Sign In with Facebook</li>
      </ul>
    </header>

    <section id="landing" class="container">
      <h1>StyleBags</h1>
      <p>Cupcake ipsum dolor sit amet soufflé sesame snaps macaroon. Donut bonbon biscuit brownie. Marzipan jelly beans oat cake candy canes caramels chocolate bar.</p>
      <p>Bonbon pudding I love. Powder jelly beans soufflé sugar plum pastry I love. Candy soufflé ice cream halvah brownie icing.</p>
      <button id="start">START</button>
      <a href="https://www.googleapis.com/webfonts/v1/webfonts?key=" + fontKey ></a>
    </section>

    <section id="generator" class="container-fluid">
      <div class="row">
      <div id="colors" class="col-xs-12 col-md-6">
      <form>
        How many colors do you need?(3-6)
        <input id="color-number" value="6"/>
        <button type="button" id="color-ammt">Submit</button>
      </form>
        <div id="color-generator">
          <div class="color-swatch" id="color1">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color2">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color3">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color4">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color5">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color6">
            <p>test</p>
          </div>
          <div>
            <form id="color-scheme">
              <input id="save-colors" type="text"/>
              <input type="text" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
              <button>Save</button>
            </form>
          </div>
        </div>
        <div id="gallery" class="col-xs-12 col-md-6">
          display 2 newest colorBags && 4 random ones
        </div>
      </div>
      <div id="fonts" class="col-xs-12 col-md-6">
        <h1 style="font-family:<%=fontFamily1%>;"><%= fontFamily1 %></h2>
          <p><i>italicized goodness</i></p>
          <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
        <h1 style="font-family:<%=fontFamily2%>;"><%= fontFamily2 %></h2>
          <p><i>italicized goodness</i></p>
          <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
        <h1 style="font-family:<%=fontFamily3%>;"><%= fontFamily3 %></h2>
          <p><i>italicized goodness</i></p>
          <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </div>
    </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"> </script>

  </body>
</html>
