
<div id="fontsLink">
  <link href='https://fonts.googleapis.com/css?family=<%=fontFamily1Plus%>:400,400italic,700|<%=fontFamily2Plus%>:400,400italic,700|<%=fontFamily3Plus%>:400,400italic,700' rel='stylesheet' type='text/css'>
</div>

<div id="border">
  <header class="container-fluid">



  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
              <form method="post" action="/login">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" type="text" name="email" id="email">
                </div>

                <div class="form-group">
                  <label for="email">Password</label>
                  <input class="form-control" type="password" name="password" id="password">
                </div>
                <input class="btn btn-default" type="submit">
              </form>
              <a href="/auth/facebook"><img src="images/fblogin.png" class="fblogin" alt="Login with Facebook"></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
                <form method="post" action="/signup">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" id="email">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password">
                  </div>
                  <input class="btn btn-default" type="submit">
                </form>
                <a href="/auth/facebook"><img src="images/fblogin.png" class="fblogin" alt="Login with Facebook"></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <img src="images/logo.png" id="logo" alt="logo" />
    <% if(global.currentUser){ %>
    <a href="/logout"><button>Log out</button></a>
    <% } else { %>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupModal">Signup</button>
      <% } %>
    <button id="bags" class="hidden">my bags โผ</button>
  </header>
</div>

<section id="landing" class="container">
  <h1>StyleBags</h1>
  <p>Welcome to StyleBags!</p>
  <p>Save custom colors and fonts to your StyleBag! Begin by selecting the amount of colors you would like the palette to display and continue by pressing "xxx!ยก!xxx" to generate more random colors. To lock a color in the palette, press "!xxx!ยก!xxx". To generate 3 more random fonts, --- do this --- ---- do some shit to save it ---- Click on a gallery to view a set of pre-saved fonts by other users.</p>
  <button id="start">START</button>
</section>

<section id="generator" class="container-fluid">
  <div class="row">
      <div id="color-generator" class="col-xs-12 col-md-6">
        <button class="switch">Gallery</button>

        <form>
          How many colors do you need?(3-6)
          <input id="color-number" value="6"/>
          <button type="button" id="color-ammt">Submit</button>
        </form>
        <div class="color-swatch" id="color1">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i></p>
        </div>
        <div class="color-swatch" id="color2">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i></p>
        </div>
        <div class="color-swatch" id="color3">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i></p>
        </div>
        <div class="color-swatch" id="color4">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i></p>
        </div>
        <div class="color-swatch" id="color5">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i></p>
        </div>
        <div class="color-swatch" id="color6">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i></p>
        </div>
        <% if(global.currentUser){ %>
          <form id="colorBag" action="/colorbags" method="post">
            <input id="colorBagName" type="text" name="colorBagName" placeholder="Color Bag Name" />
            <input id="rgbs" name="rgbs" type="hidden"/>
            <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
            <input type="submit" name="saveColorBag" value="Save" />
          </form>
        <% } %>
      </div>
      <div id="gallery" class="col-xs-12 col-md-6 hidden">
        <button class="switch">Gallery</button>
        <div class="row">
          <div class="col-xs-6">
            first random
          </div>
          <div class="col-xs-6">
            second random
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            third random
          </div>
          <div class="col-xs-6">
            fourth random
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            fifth random
          </div>
          <div class="col-xs-6">
            sixth random
        </div>
        <button id="randomize">RANDOMIZE</button>
      </div>
    </div>
    <div id="fonts" class="col-xs-12 col-md-6 text-center">
      <article style="display: none">
      <% if(global.currentUser){ %>
        <form id="font" action="/fonts" method="post">
          <input type="hidden" name="fontName" id="fontName" value="<%=fontFamily1%>"/>
          <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
          <input type="submit" name="saveFont" value="Save" />
        </form>
      <% } %>
        <h1><%= fontFamily1 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </article>
      <article style="display: none">
      <% if(global.currentUser){ %>
         <form id="font" action="/fonts" method="post">
           <input type="hidden" name="fontName" id="fontName" value="<%=fontFamily2%>"/>
           <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
           <input type="submit" name="saveFont" value="Save" />
         </form>
        <% } %>
        <h1><%= fontFamily2 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </article>
      <article style="display: none">
      <% if(global.currentUser){ %>
       <form id="font" action="/fonts" method="post">
         <input type="hidden" name="fontName" id="fontName" value="<%=fontFamily3%>"/>
         <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
         <input type="submit" name="saveFont" value="Save" />
       </form>
      <% } %>
      <h1><%= fontFamily3 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </article>
      <input id="fontsArray" type="hidden" value="<%= fonts %>"/>
    </div>

    <aside class="col-xs-12 col-md-2 hidden">
      <p>test</p>
    </aside>
  </div>
</section>
