
<div id="fontsLink">
  <link href='https://fonts.googleapis.com/css?family=<%=fontFamily1Plus%>:400,400italic,700|<%=fontFamily2Plus%>:400,400italic,700|<%=fontFamily3Plus%>:400,400italic,700' rel='stylesheet' type='text/css'>
</div>

<div id="border">
  <header class="container-fluid">

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Login</h2>
        </div>
        <div class="modal-body">
              <form method="post" action="/login">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" type="text" name="email" id="email" required>
                </div>

                <div class="form-group">
                  <label for="email">Password</label>
                  <input class="form-control" type="password" name="password" id="password" required>
                </div>
                <input class="btn btn-default" type="submit">
              </form>
              <a href="/auth/facebook"><img src="images/connectfb.jpg" class="fblogin" alt="Login with Facebook"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Sign Up</h2>
        </div>
        <div class="modal-body">
                <form method="post" action="/signup">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" id="email" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required>
                  </div>
                  <input class="btn btn-default" type="submit">
                </form>
                <a href="/auth/facebook"><img src="images/connectfb.jpg" class="fblogin" alt="Login with Facebook"></a>
        </div>
      </div>
    </div>
  </div>


    <div id="logo"><img src="images/logo.png" alt="logo" /><span>StyleBags</sp></div>
    <% if(global.currentUser){ %>
    <a href="/logout"><button class="btn btn-primary btn-sm">Log out</button></a>
    <% } else { %>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupModal">Signup</button>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>
      <% } %>
    <button id="bags" class="hidden">StyleBag ▼</button>
  </header>
</div>

<section id="landing" class="container">
  <h1>About StyleBags</h1>
  <p>Welcome to StyleBags, a web application built in General Assembly's Web Development Immersive course (cohort 4 whatwhat!) using the Node.JS / Express.JS / EJS stack.</p>
  <p>After clicking "START", you may generate color palletes (ColorBags) and view random Google Fonts. After logging in or signing up, you may save ColorBags and also save fonts into your FontBag. All of your ColorBags and your FontBag make your StyleBag.</p>
  <h2>How it Works</h2>
  <p>Begin by choosing the number of colors you would like in your ColorBag. If you like a color, lock it in place with a mouse click (which prevents you from altering the number of colors). Activate the color generator by pressing the <b>right arrow & c keys</b> or activate the font randomizer by pressing the <b>right arrow & f keys</b>.
  <p>Located above the color generator, click on the "Gallery" button to view random ColorBags other users have saved.</p>
  <p>To reveal your ColorBags and FontBag, click on the "StyleBag" link in the header. LET'S GET STARTED! :)</p>
  <button id="start">START</button>
</section>

<section id="generator" class="container-fluid">
  <div class="row">
      <div id="color-generator" class="col-xs-12 col-md-6">
        <button class="switch">Gallery</button>

        <form>
          How many colors do you need?(3-6)
          <input id="color-number" value="6"/>
          <button type="button" id="color-ammt">Submit</button>
        </form>
        <div class="color-swatch" id="color1">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i><span class="fontHeader">Change heading color!</span><span class="fontPara">Change the paragraph color!</span><span class="fontBG">Change the background color!</span></p>
        </div>
        <div class="color-swatch" id="color2">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i><span class="fontHeader">Change heading color!</span><span class="fontPara">Change the paragraph color!</span><span class="fontBG">Change the background color!</span></p>
        </div>
        <div class="color-swatch" id="color3">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i><span class="fontHeader">Change heading color!</span><span class="fontPara">Change the paragraph color!</span><span class="fontBG">Change the background color!</span></p>
        </div>
        <div class="color-swatch" id="color4">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i><span class="fontHeader">Change heading color!</span><span class="fontPara">Change the paragraph color!</span><span class="fontBG">Change the background color!</span></p>
        </div>
        <div class="color-swatch" id="color5">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i><span class="fontHeader">Change heading color!</span><span class="fontPara">Change the paragraph color!</span><span class="fontBG">Change the background color!</span></p>
        </div>
        <div class="color-swatch" id="color6">
          <p><i class="fa fa-unlock fa-3x" aria-hidden="true"></i><span class="fontHeader">Change heading color!</span><span class="fontPara">Change the paragraph color!</span><span class="fontBG">Change the background color!</span></p>
        </div>
        <% if(global.currentUser){ %>
          <form id="colorBag" action="/colorbags" method="post">
            <input id="colorBagName" type="text" name="colorBagName" placeholder="Color Bag Name" />
            <input id="rgbs" name="rgbs" type="hidden"/>
            <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
            <input type="submit" name="saveColorBag" value="Save" />
          </form>
        <% } %>
      </div>
      <div id="gallery" class="col-xs-12 col-md-6 hidden">
        <button class="switch">Gallery</button>
        <div class="row">
          <div class="col-xs-6">
            first random
          </div>
          <div class="col-xs-6">
            second random
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            third random
          </div>
          <div class="col-xs-6">
            fourth random
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            fifth random
          </div>
          <div class="col-xs-6">
            sixth random
        </div>
        <button id="randomize">RANDOMIZE</button>
      </div>
    </div>
    <div id="fonts" class="col-xs-12 col-md-6 text-center">
      <article style="font-family:<%=fontFamily1%>">
        <h1><%= fontFamily1 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
        <% if(global.currentUser){ %>
          <form action="/fonts" method="post">
            <input type="hidden" name="fontName" id="fontName" value="<%=fontFamily1%>"/>
            <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
            <input type="submit" name="saveFont" class="saveFont" value="Save" />
          </form>
        <% } %>
      </article>
      <article style="font-family:<%=fontFamily2%>">
        <h1><%= fontFamily2 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
        <% if(global.currentUser){ %>
          <form action="/fonts" method="post">
           <input type="hidden" name="fontName" id="fontName" value="<%=fontFamily2%>"/>
           <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
           <input type="submit" name="saveFont" class="saveFont" value="Save" />
          </form>
        <% } %>
      </article>
      <article style="font-family:<%=fontFamily3%>">
      <h1><%= fontFamily3 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
        <% if(global.currentUser){ %>
         <form action="/fonts" method="post">
           <input type="hidden" name="fontName" id="fontName" value="<%=fontFamily3%>"/>
           <input type="hidden" name="userId" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
           <input type="submit" name="saveFont" class="saveFont" value="Save" />
         </form>
        <% } %>
      </article>
      <input id="fontsArray" type="hidden" value="<%= fonts %>"/>
    </div>

    <aside class="col-xs-12 col-md-2 hidden">
      <% if(global.currentUser){ %>
      <div id="userColorBags">
        <h4 class="text-center">ColorBags<span>show all▼</span></h4>
        <p>loading ...</p>
      </div>
      <div id="userFonts">
        <h4 class="text-center">FontBag<span>show all▼</span></h4>
        <p>loading ...<p>
      </div>
      <% } else { %>
        <p>Please login or sign up to save ColorBags and to save fonts into your FontBag.</p>
      <% } %>
    </aside>

  </div>
</section>
