
<div id="fontsLink">
  <link href='https://fonts.googleapis.com/css?family=<%=fontFamily1Plus%>:400,400italic,700|<%=fontFamily2Plus%>:400,400italic,700|<%=fontFamily3Plus%>:400,400italic,700' rel='stylesheet' type='text/css'>
</div>

<div id="border">
  <header class="container-fluid">
    <img src="images/logo.png" id="logo" alt="logo" />
    <ul>
      <li>Sign In</li>
      <li>Sign Up</li>
    </ul>
    <button id="bags" class="hidden">my bags ▼</button>
  </header>
</div>

<section id="landing" class="container">
  <h1>StyleBags</h1>
  <p>Cupcake ipsum dolor sit amet soufflé sesame snaps macaroon. Donut bonbon biscuit brownie. Marzipan jelly beans oat cake candy canes caramels chocolate bar.</p>
  <p>Bonbon pudding I love. Powder jelly beans soufflé sugar plum pastry I love. Candy soufflé ice cream halvah brownie icing.</p>
  <button id="start">START</button>
  <!-- <a href="https://www.googleapis.com/webfonts/v1/webfonts?key=" + fontKey ></a> -->
</section>

<section id="generator" class="container-fluid">
  <div class="row">
      <div id="color-generator" class="col-xs-12 col-md-6">
        <form>
          How many colors do you need?(3-6)
          <input id="color-number" value="6"/>
          <button type="button" id="color-ammt">Submit</button>
        </form>

        <div class="color-swatch" id="color1">
          <p><span id="lock" class="unlocked"><i class="fa fa-unlock" aria-hidden="true"></i>
</span></p>
        </div>
        <div class="color-swatch" id="color2">
          <p><span id="lock" class="unlocked"><i class="fa fa-unlock" aria-hidden="true"></i>
</span></p>
        </div>
        <div class="color-swatch" id="color3">
          <p><span id="lock" class="unlocked"><i class="fa fa-unlock" aria-hidden="true"></i>
</span></p>
        </div>
        <div class="color-swatch" id="color4">
          <p><span id="lock" class="unlocked"><i class="fa fa-unlock" aria-hidden="true"></i>
</span></p>
        </div>
        <div class="color-swatch" id="color5">
          <p><span id="lock" class="unlocked"><i class="fa fa-unlock" aria-hidden="true"></i>
</span></p>
        </div>
        <div class="color-swatch" id="color6">
          <p><span id="lock" class="unlocked"><i class="fa fa-unlock" aria-hidden="true"></i>
</span></p>
        </div>
        <div>
          <form id="color-scheme">
            <input id="colorBagName" type="text" name="colorBagName" placeholder="Color Bag Name" />
            <input id="rgbs" name="rgbs" type="text"/>
            <input type="text" value="<%=global.currentUser.id || global.currentUser.facebookId%>"/>
            <button>Save</button>
          </form>
        </div>
      </div>
      <div id="gallery" class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-6">
            first random
          </div>
          <div class="col-xs-6">
            second random
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            third random
          </div>
          <div class="col-xs-6">
            fourth random
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            fifth random
          </div>
          <div class="col-xs-6">
            sixth random
        </div>
        <button id="randomize">RANDOMIZE</button>
      </div>
    </div>
    <div id="fonts" class="col-xs-12 col-md-6 text-center">
      <article style="font-family:<%=fontFamily1%>;">
        <h1><%= fontFamily1 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </article>
      <article style="font-family:<%=fontFamily2%>;">
        <h1><%= fontFamily2 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </article>
      <article style="font-family:<%=fontFamily3%>;">
      <h1><%= fontFamily3 %></h1>
        <p><i>italicized goodness</i></p>
        <p>Grumpy Wizards make toxic brew for the Evil Queen and Jack</p>
      </article>
      <input id="fontsArray" type="hidden" value="<%= fonts %>"/>
    </div>

    <aside class="col-xs-12 col-md-2 hidden">
      <p>test</p>
    </aside>
  </div>
</section>
